---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Giscus from "~/components/giscus.astro";
import PostNavigation from "~/components/post-navigation.astro";
import Button from "~/components/ui/button.astro";
import Link from "~/components/ui/link.astro";
import Layout from "~/layouts/layout.astro";

export const getStaticPaths = (async () => {
  const posts = (await getCollection("craft"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}) satisfies GetStaticPaths;

type Props = CollectionEntry<"craft">;

const post = Astro.props;

const { Content } = await post.render();
const posts = (await getCollection("craft"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const id = posts.findIndex((post) => post.slug === Astro.params.slug);
---

<Layout
  title={`${post.data.title} | wontory`}
  description={post.data.description}
>
  <div class="animate">
    <a href="/craft">
      <Button>뒤로가기</Button>
    </a>
  </div>
  <div class="animate my-10 space-y-1">
    <div class="font-base flex items-center gap-2 text-sm">시간 리딩타임</div>
    <h1 class="text-3xl font-semibold text-foreground">
      {post.data.title}
    </h1>
  </div>
  <div class="animate flex flex-col gap-24">
    <article class="prose">
      <Content components={{ a: Link }} />
    </article>
    <div><PostNavigation current={id} collection={posts} /></div>
    <div><Giscus /></div>
  </div>
</Layout>
