---
import { HOME } from "~/constants/metadata";
import { SITE } from "~/constants/site";
import Layout from "~/layouts/layout.astro";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<aside>
		<h1 class="animate font-semibold text-foreground">조성원 ﹒ wontory</h1>
		<div class="space-y-16">
			<section>
				<article class="space-y-4 prose prose-neutral dark:prose-invert max-w-full">
					<span class="animate">
						<p>
							현재 경기대학교에서 컴퓨터공학을 전공하고 있습니다. (2019 ~ )
						</p>
						<p>
							김종민님의 Form Follows Function을 처음 보았을 때, 단순히 보여지는 것에서 그치지 않고 상호작용을 통해 전달하고자 하는 바를 보다 인간적으로 담아내는 것에 큰 감명을 받았습니다.
						</p>
					</span>
					<span class="animate">
						<p>
							이 계기로 프론트엔드 개발을 공부하기 시작했고, 애니메이션과 인터랙션을 통해 사용자에게 즐거움과 그 이상의 가치를 제공하는 것에 관심을 가지게 되었습니다.
						</p>
						<p>
							현재는 다양한 웹사이트를 경험하며 좋은 UX/UI를 분석 및 구현해보고, 웹 기본기도 함께 다지며 성장하고 있습니다.
						</p>
					</span>
				</article>
			</section>
			<section class="animate space-y-6">
				<div class="flex flex-wrap items-center justify-between gap-y-2">
					<h2 class="font-semibold text-foreground">
						블로그
					</h2>
					<a href="/blog">전체보기</a>
				</div>
				<ul class="not-prose flex flex-col gap-4"></ul>
			</section>
			<section class="animate space-y-6">
				<div class="flex flex-wrap items-center justify-between gap-y-2">
					<h2 class="font-semibold text-foreground">
						공방
					</h2>
					<a href="/craft">전체보기</a>
				</div>
				<ul class="not-prose flex flex-col gap-4"></ul>
			</section>
			<section class="animate space-y-4">
				<h2 class="font-semibold text-foreground">
					연락처
				</h2>
				<article>
					<p>
						다양한 사람들과 이야기하며 견해를 넓히는 것을 좋아합니다. 언제든지 연락주세요.
					</p>
				</article>
				<ul class="not-prose flex flex-wrap gap-2">
					<li class="line-clamp-1">
						<a href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.TITLE}`}>{SITE.EMAIL}</a>
					</li>
				</ul>
			</section>
		</div>
	</aside>
</Layout>